body {
    background-color: rgb(10, 3, 49);
    font-family: 'Arvo', serif;
    color: white;
}
.contenedor {
    background-color: rgba(96, 76, 231, 0.7);
    width: 60%;
    margin: 10% auto;
    padding: 20px;
}
h1, p, a {
    text-align: center;
}
a:hover {
    color: violet;
}
a:active {
    color: rgb(127, 23, 175);
}
