body {
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
    font-family: 'Arvo', serif;
    color: white;
}
img {
    width: 30%;
    height: auto;
    border: 5px solid #001e3e;
}
nav {
    background-color: #01366f;
    color: white;
    padding: 10px;
    display: inline-block;
    border:#033061 solid 5px;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.contenedor {
    background-color: rgba(1, 54, 111, 0.9);
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}
.imagen {
    display: block;
    margin: 0 auto;
}
blockquote {
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    margin: 20px 0;
}
a:hover {
    color: turquoise;
}
a:active {
    color: rgb(7, 39, 178);
}
